version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: soccer
      POSTGRES_PASSWORD: soccerpassword
      POSTGRES_DB: soccer_platform
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U soccer" ]
      interval: 5s
      timeout: 5s
      retries: 5

  platform:
    build:
      context: .
      dockerfile: soccer_platform/Dockerfile
    container_name: soccer_platform
    restart: always
    command: uvicorn soccer_platform.main:app --host 0.0.0.0 --port 8000
    volumes:
      - ./media:/app/videos # Persistent video storage
    ports:
      - "4420:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://soccer:soccerpassword@db:5432/soccer_platform
    depends_on:
      db:
        condition: service_healthy
