fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
asyncpg
pydantic
python-multipart
aiofiles
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
fastapi-mail
pydantic-settings
requests

moviepy
